<nav class="navbar-container">
  <!-- 1. El Logo / Nombre de la App -->
  <div class="navbar-logo">
    <span class="logo-icon">🚀</span>
    <span class="logo-text">Future<strong>Explorers</strong></span>
  </div>

  <!-- 2. Menú de Navegación Central -->
  <ul class="navbar-menu">
    <li>
      <a (click)="cambiarModulo('inicio')"
         class="menu-item"
         [class.active]="moduloActivo() === 'inicio'">Inicio</a>
    </li>

    <li>
      <a (click)="cambiarModulo('estudiantes')"
         class="menu-item"
         [class.active]="moduloActivo() === 'estudiantes'">Estudiantes</a>
    </li>

    <li>
      <a (click)="cambiarModulo('finanzas')"
         class="menu-item"
         [class.active]="moduloActivo() === 'finanzas'">Finanzas</a>
    </li>
  </ul>

  <!-- 3. Zona de Usuario (Derecha) -->
  <div class="navbar-user">
    <div class="user-avatar">E</div>
    <span class="user-name">Esteban (Admin)</span>
  </div>
</nav>

<main class="content-container">
  @if (moduloActivo() === 'estudiantes') {
  <app-estudiantes></app-estudiantes>
  }

  @if (moduloActivo() === 'finanzas') {
  <app-finanzas></app-finanzas>
  }
</main>
